<figure style="text-align: center;">
    <img src="{{ .Get "src" }}"
         alt="{{ default "图片" (.Get "alt") }}"
         title="{{ .Get "title" }}"
         {{ if or (.Get "width") (.Get "height") }}style="{{ with .Get "width" }}width:{{ . }};{{ else }}width:auto;{{ end }}{{ with .Get "height" }} height:{{ . }};{{ else }}height:auto;{{ end }}"{{ end }}>
    {{ if .Get "caption" }}
    <figcaption style="text-align: center; font-family: Arial, sans-serif; font-size: 16px; color: #a5a5a5;">{{ .Get "caption" }}</figcaption>
    {{ end }}
</figure>
